.coordinate {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    font-size: 18px;
}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 17px;
}

footer {
    display: none;
}