.header {
    width: 18%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid greenyellow;
    position: fixed;
    height: 100%;
    padding: 20px;
    z-index: 1000;
}

.firstPart__header {
    text-align: center;
}

.logo__header {
    font-size: 30px;
    padding-bottom: 15px;
}

.title__header {
    font-size: 25px;
}

.subtitle__header {
    font-size: 20px;
}

.navlink {
    margin: 50px 20px;
    width: min-content;
    border: 2px solid greenyellow;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 18px;
    transition: 0.5s;
}

.navlink:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px greenyellow;
    transition: 0.5s;
}

.navlink:active a {
    transition: .7s;
}

.wrapper {
    display: flex;
    list-style: none;
    width: 100%;
    left: 0;
    bottom: 20px;
    justify-content: center;
    position: absolute;
    align-items: center;
}

.linkedin__logo,
.github__logo,
.cv__logo {
    width: 20px;
    display: flex;
}

.cv__logo {
    margin-left: 5px;
}

.wrapper .icon {
    position: relative;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px greenyellow;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    margin-top: 10px;
    position: absolute;
    top: 0;
    font-size: 12px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .icon:hover .tooltip,
.wrapper .icon:hover .tooltip::before {
    background-color: greenyellow;
    color: #232140;
    font-weight: 600;
}

.wrapper .icon:hover {
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
}

.wrapper .icon:not(:hover) {
    transition: ease-in-out 0.2s;
}

.leftbar__burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: inherit;
    z-index: 2;
}

@media screen and (max-width:1200px) {
    .header {
        position: fixed;
        left: -100vw;
        bottom: 0;
        top: 0;
        width: 0;
        height: 100vh;
        padding: 2rem;
        visibility: hidden;
        transition: all .8s ease-out;
    }

    .show-leftbar .header {
        left: 0;
        width: 275px;
        visibility: visible;
        z-index: 2;
    }

    .leftbar__burger {
        display: block;
        position: fixed;
        top: 1rem;
        left: 1rem;
        z-index: 200;
    }

    .leftbar__burger:hover {
        cursor: pointer;
    }

    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: greenyellow;
        transition: all .4s ease-in-out;
    }

    .burger-bar::before,
    .burger-bar::after {
        content: "";
        position: absolute;
        left: 0;
    }

    .burger-bar::before {
        transform: translateY(-12px);
    }

    .burger-bar::after {
        transform: translateY(12px);
    }

    .show-leftbar .burger-bar {
        background: transparent;
    }

    .show-leftbar .burger-bar::before {
        transform: rotate(45deg);
    }

    .show-leftbar .burger-bar::after {
        transform: rotate(-45deg);
    }

    .content__list__leftbar {
        transform: translateY(100vh);
    }

    .content__list__leftbar a {
        padding-bottom: 0;
    }

    .show-leftbar .content__list__leftbar {
        transform: translateY(0);
    }

    .third__part__leftbar {
        transform: translateY(100vh);
    }

    .show-leftbar .third__part__leftbar {
        transform: translateY(0);
    }
}


@media all and (max-width: 768px) {
    .header {
        width: 100%;
    }

    .navlink {
        margin: 35px 20px;
    }

    /* .logo__header {
        font-size: 40px;
    } */

    /* .title__header {
        font-size: 30px;
    } */

    /* .subtitle__header {
        font-size: 25px;
        padding-top: 15px;
    } */

    /* .navlink {
        font-size: 27px;
    } */

    /* .wrapper {
        position: initial;
    } */

    /* .wrapper .icon {
        width: 70px;
        height: 70px;
    } */

    .wrapper .icon:hover {
        transform: none;
        transition: none;
    }

    /* .icon img {
        width: 35px;
    } */

    .tooltip {
        display: none;
    }

    /* .leftbar__burger {
        top: 5rem;
        left: 3rem;
    } */
}