.introduction__section {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__introduction {
    font-size: 50px;
    margin-top: 50px;
    font-weight: 500;
    text-shadow: -15px 15px 10px black;
}

.content__introduction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 75px 0;
}

.memoji {
    width: 35%;
}

.presentation {
    width: 50%;
    font-size: 20px;
    text-align: justify;
}

.presentation__link {
    color: greenyellow;
    text-decoration: underline greenyellow;
}

@media all and (max-width: 1100px) {
    .content__introduction {
        flex-direction: column;
    }
}

/* @media all and (max-width: 768px) {
    .memoji {
        margin-bottom: 75px;
        width: 40%;
    }

    .presentation {
        font-size: 30px;
        width: 75%;
    }
} */