.work__section {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center
}

.title__work {
    font-size: 50px;
    margin-top: 50px;
    font-weight: 500;
    text-shadow: -15px 15px 10px black;
}

.container__projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 75px 0;
}

.card__projects {
    width: 25%;
}

.logo__projects {
    width: 100%;
}