@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #232147;
    color: white;
    font-family: "roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4 {
    cursor: context-menu;
}

header {
    width: 18%;
}

main {
    width: 82%;
    margin-left: 18%;
    margin-top: -35px;
}

footer {
    height: 150px;
    width: 82%;
    margin-left: 18%;
    display: grid;
    align-items: center;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


@media all and (max-width: 1200px) {

    main,
    footer {
        width: 100%;
        margin-left: 0;
    }
}